[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pillow = "*"
requests = "*"
openai = "*"
streamlit_extras.switch_page_button = "*"
streamlit = "*"
import streamlit.components.v1 = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.12"
